.container {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  
  .input {
    height: 40px;
    margin-bottom: 20px;
    padding: 0px 10px;
  }
  .title{
    font-family: "Poppins";
    font-size: 24px;
    color: #191C1E;
    padding-bottom: 20px;
  }
  
  .button {
    height: 40px;
    margin-bottom: 20px;
    border: none;
    /* background-color: teal; */
    background-color: #fde58e;
    border-radius: 20px;
    color: #000000;
    font-weight: 600;
    cursor: pointer;
    background-color: #FBC91B;
   color: #222222;
  }
  
  .error {
    font-size: 13px;
    color: red;
  }